<h1>Listing strongs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @strongs.each do |strong| %>
  <tr>
    <td><%= strong.name %></td>
    <td><%= strong.phone %></td>
    <td><%= link_to 'Show', strong %></td>
    <td><%= link_to 'Edit', edit_strong_path(strong) %></td>
    <td><%= link_to 'Destroy', strong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Strong', new_strong_path %>
