<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sen.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @sen.phone %>
</p>


<%= link_to 'Edit', edit_sen_path(@sen) %> |
<%= link_to 'Back', sens_path %>
